.the-interior-has-a-armchair-on-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100rem;
  height: 56.25rem;
  object-fit: cover;
}
.your-logo {
  position: absolute;
  top: 1.94rem;
  left: 2.63rem;
  font-weight: 600;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 33.69rem;
  height: 46.31rem;
}
.lorem {
  font-weight: 600;
  color: var(--color-olivedrab);
}
.welcome-to-lorem-container {
  position: absolute;
  top: 0;
  left: 0;
}
.no-account {
  margin: 0;
}
.sign-up {
  margin: 0;
  color: var(--color-olivedrab);
  text-decoration: none;
}
.no-account-container {
  position: absolute;
  top: 0.38rem;
  left: 22.88rem;
  font-size: var(--font-size-smi);
  color: #8d8d8d;
  width: 6rem;
}
.welcome-to-lorem-parent {
  position: absolute;
  top: 2.75rem;
  left: 2.75rem;
  width: 28.19rem;
  height: 2.88rem;
  font-size: 1.31rem;
}
.sign-in {
  margin: 0;
  position: absolute;
  top: 4.81rem;
  left: 2.75rem;
  font-size: 3.44rem;
  font-weight: 500;
  font-family: inherit;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: #e9f1ff;
  width: 18.63rem;
  height: 3.44rem;
}
.google-icon,
.sign-in-with {
  position: absolute;
  top: 0.94rem;
}
.google-icon {
  left: 2rem;
  width: 1.63rem;
  height: 1.63rem;
  overflow: hidden;
}
.sign-in-with {
  left: 4.94rem;
}
.rectangle-group {
  position: absolute;
  top: 0.06rem;
  left: 0;
  width: 18.63rem;
  height: 3.44rem;
}
.group-icon,
.group-inner {
  position: absolute;
  width: 3.75rem;
  height: 3.44rem;
}
.group-inner {
  top: 0.06rem;
  left: 19.88rem;
}
.group-icon {
  top: 0;
  left: 24.44rem;
}
.group-parent {
  position: absolute;
  top: 12.63rem;
  left: 2.75rem;
  width: 28.19rem;
  height: 3.5rem;
  color: var(--color-dodgerblue);
}
.component-child,
.enter-your-username {
  position: absolute;
  top: -2.17%;
  left: 0;
}
.component-child {
  border: 1px solid var(--color-dodgerblue);
  background-color: var(--color-white);
  height: 61.96%;
  width: 100%;
  top: 38.04%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-4xs);
  box-sizing: border-box;
}
input::placeholder {
  position: absolute;
  height: 50.65%;
  width: 66.96%;
  top: 38.7%;
  left: 5.54%;
  font-size: var(--font-size-sm);
  font-weight: 300;
  color: var(--color-gray-100);
  display: inline-block; 
}
.enter-your-username-or-email-a-parent {
  position: absolute;
  top: 19.38rem;
  left: 2.75rem;
  width: 28.19rem;
  height: 5.75rem;
}
.instance-child {
  border: 1px solid #adadad;
  background-color: var(--color-white);
  position: absolute;
  height: 61.96%;
  width: 100%;
  top: 38.04%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-4xs);
  box-sizing: border-box;
}
.enter-your-password-parent {
  position: absolute;
  top: 27.5rem;
  left: 2.75rem;
  width: 28.19rem;
  height: 5.75rem;
}
.forgot-password {
  position: absolute;
  top: 34rem;
  left: 24.19rem;
  font-size: var(--font-size-smi);
  color: var(--color-dodgerblue);
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: var(--color-olivedrab);
  box-shadow: 0 4px 19px rgba(119, 147, 65, 0.3);
  width: 14.75rem;
  height: 3.38rem;
}
.sign-in1 {
  position: absolute;
  top: 0.94rem;
  left: 5.69rem;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 38rem;
  left: 16.19rem;
  width: 14.75rem;
  height: 3.38rem;
}
.rectangle-parent {
  position: absolute;
  top: 5rem;
  left: 48.94rem;
  width: 33.69rem;
  height: 46.31rem;
  font-size: var(--font-size-base);
}
.login-5 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 56.25rem;
  overflow: hidden;
  text-align: left;
  font-size: 1.25rem;
  color: var(--color-black);
  font-family: var(--font-poppins);
}

